langchain-core
langchain-groq
langchain-chroma
streamlit
fastapi
langchain-community
langchain-huggingface
sentence-transformers
pypdf
langchain-text-splitters
python-dotenv
python-multipart
uvicorn[standard]
requests
torch